
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

body {
	margin: 0;
  padding: 0;
	font-family: "Montserrat", sans-serif ;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	background-color: #FFFFFF;
}
.page-header{
	width: 100%;
	height: 900px;
	background-image: url("img/PageHeaderBackground.jpg");
	color: #FFFFFF;
	background-size: cover;
}
.header-top{
	height: 100px;
	border-bottom: 1px solid rgba(161, 161, 161, .5);
}
.main-nav{
	position: absolute;
	/*left: 923px;*/
	left: 50%;
	margin: 0;
	list-style: none;
}
.main-nav li {
  display: inline-block;
	line-height: 100px;
	vertical-align: middle;
}
.main-nav a:hover{
border-bottom: 2px solid white;
}
.main-nav a{
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	font-weight: 500;
	color: white;
	text-decoration: none;
}

.header-text{
	position:relative;
	padding-top: 219px;
	text-align: center;
	vertical-align: middle;

}
.header-text-top{
	position:relative;
	font-weight: 500;
}
.header-text-main h1{
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
}
/*синии кнопки ссылки*/
.button.href{
	/*position:relative;*/
	font-weight: 500;
	display: inline-block;
	width:200px;
	height: 45px;
	background: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	color: white;
	text-decoration: none;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
}

.mobile-apps{
  /*position: relative;*/
	height: 593px;
	text-align: center;
  vertical-align: middle;
}
.mobile-apps h2{
	margin-top: 110px;
	margin-bottom: 50px;
}
h2{
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
}
.mobile-apps-text{
	display: inline-block;
	width:730px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #999999;
}
.mobile-services{
	text-align: center;
}
.services-item{
	display: inline-block;
	width: 222px;
	margin-top: 100px;
	text-align: left;
	margin-bottom: 55px;
	margin-left: 158px;
}
/* лучше спросить как это делается а то я накуролесил все возможные варианты
.services-item:first-child{
	margin-left: 0px;
}
*/
.services-item .item {
	position: relative;
/*	padding-left: 30px;*/
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
}
.services-item span{
	display: block;
		color: #999999;
		width: 222px;
}
.services-item .item h3
{
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.services-item .item .icon{
	position: absolute;
	width: 108px;
	height: 108px;
	border: 1px solid #E0E0E0;
	border-radius: 50%;
	top: -45px;
	left: -127px;
	background-image:  url("svg/project.svg") ;
	background-repeat: no-repeat;
	background-position: center ;

}
.services-item .item .icon .circle{
	width: 88px;
	height: 88px;
	border: 1px solid #4985FF;
	border-radius: 50%;
	margin-left: 9px;
	margin-top: 9px;
}

.standards{
	height: 797px;
	background-color: #F6F6F8;
	text-align: center;
	vertical-align: middle;
	position: relative;
	padding-top: 100px;
}
.standards-main{
	display: inline-block;
	width:1110px;
	height: 490px;
	border-bottom: 1px solid #E0E0E0;
}
.standards-desc{
	float: left;
	text-align: left;
	position: relative;
	width:555px;
	vertical-align: middle;
}
.standards-desc h2{
margin-top: 52px;
}
.standards-desc-text{
margin-bottom: 30px;
width: 489px;
}
.standards-img{
	float: right;
	top:0;
	width: 500px;
  height: 400px;
	background-image:  url("img/Standards.png");
	border-radius: 30px;
}

.standards-catalog{
margin-top: 60px;
}
.standard-item{
	display: inline-block;
	width:100px;
	margin-right: 100px;
}
.standard-item:last-child{
	margin-right: 0px;
}
.standard-item .item {
	position: relative;
/*	padding-left: 30px;*/
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 53px;
	text-align: right;
}
.standard-item .item .icon{
	position: absolute;
	top:12px;
	/*left:5px;*/
	width: 30px;
	height: 30px;
	background-image:  url("svg/web-programming.svg") ;
	vertical-align: bottom;
}

.specialization{

height: 972px;
}
.specialization-gradient{
	height: 490px;
	background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
	text-align: center;
}
.specialization-top{
	display: inline-block;
	color: white;
	width: 1110px;
	vertical-align: middle;

}
.specialization-top h2{
	display: block;
	float: left;
	width: 540px;
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	margin-top: 100px;
}
.specialization-top a
{
	float: right;
	margin-top: 120px;
}
.specialization-absolute{
		text-align:  center;
}
.specialization-catalog{
	text-align:  center;
	display: inline-block;
	width: 1110px;
	border-bottom:  1px solid #E0E0E0;
	padding-bottom: 85px;
}
.specialization-item{
	position: relative;
	/*display: inline-block;*/
	float: left;
	width:350px;
	margin-right: 30px;
	text-align: left;
}
.specialization-item:last-child{
	margin-right: 0px;
	float: right;
}
.specialization-item h3{
	margin-top: 100px;
	margin-bottom: 30px;
}
.specialization-item span{
	display: block;
	margin-bottom: 30px;
}
.specialization-item img{
	position: absolute;
	top: -232px;
}

.projects{
	height: 776px;
	background-color:  #F6F6F8;
			text-align:  center;
}
.projects-main{
	display: inline-block;
		width: 1110px;
		text-align:  center;
}
.projects-main h2{
	margin-top: 100px;
	margin-bottom: 50px;
}
.projects-main span{
	display: inline-block;
	width: 730px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	margin-bottom: 70px;
}
.projects-catalog{
margin-bottom: 305px;
}
.projects-catalog img{
margin-right: 30px;
float: left;
}
.projects-catalog img:last-child{
margin-right: 0px;
}
.projects-button{
	width: 1110px;
}

.videos{
	height: 735px;
	text-align:  center;
			color: white;
}
.videos-background{
	height: 570px;
	background-image: url("img/VideoBackground.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.videos-top{
	display: inline-block;
}
.videos-top h2{
	margin-top: 70px;
	margin-bottom: 15px;
}
.videos-player{
	width: 100%;
	margin-top: 70px;
	display: inline-block;
}

.subscription{
	height: 347px;
	text-align:  center;
}
.subscription-main{
	display: inline-block;
	width: 1110px;
	border-top: 1px solid #E0E0E0;
}
.subscription-main h3{
	margin-top: 85px;
}

.page-footer{
	height: 413px;
	background-color: #F6F6F8;
	text-align:  center;
}
.footer-map{
	display: inline-block;
	width: 1110px;
	margin-top: 70px;
	padding-bottom: 70px;
	border-bottom:  1px solid #E0E0E0;

}
.footer-menu{
	float: left;
	width: 242px;
	margin-right: 43px;
	text-align:  left;

}
.footer-menu ul{
	padding-left: 15px;
	list-style-image: url("svg/list-arrow.svg");
	margin-bottom: 0px;
}
.footer-menu a{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #999999;
	text-decoration: none;
}
.footer-menu:last-child{
margin-right: 0px;
}
.footer-menu h3{
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-top: 0px;
}
.footer-copyright{
	margin-top: 30px;
	display: inline-block;
	width: 1110px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #999999;
}
